.album-container {
    display: flex;
    overflow: auto;
  
    height: 34vh;
    width: 98.7%;
    padding: 0;
    margin: 0;


}

h1 {
    font-size: 2.5em;
    margin-bottom:0;

}

.song-container {
    display: flex;
    overflow: auto; 
    height: 34vh;
    width: 97.8%;
    padding: 0px;
    margin: 0px
}
