.player-container {
    position:absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 1, 1);
    border-top: 2px solid rgba(0, 0, 0, 0.513);

  
   
   
}

.songplayer-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    width: 20%
}

.song-img {
    padding-right: 2rem;

}

.controls-container {
    display: flex;
    flex-direction: column;
    width: 550px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
}


.progress-bar {
    display: flex;
}


.progress-filler {
    width: 60vh;
    max-width: 500px;
    height: .25em;
    background-color: azure;
    border-radius: 8px;
    align-self: center;
    margin-left: .5px;
    margin-right: .5px;
    padding: 0px;
    margin-bottom: 0px;
    align-content: center;

}

.progress-filler hr {
    position: relative;
   
    height: 2px;
    background-color: red;
    width: 0%;
    margin-left: 1px;
    margin-right: 1px;
   align-self: center;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    
    border-radius: 8px;
    border: 0
}

.volume-bar {
    height: .25em;
    margin-left: .25em;
    margin-right: .3em;
    width: 7em;
    background-color: azure;
    justify-self: center;
    margin-top: .77rem;
}

.volume-container {
    display: flex;
    align-items: center;
    justify-self: right;
    padding-left: 1.8em;
    
}