.song-item {
    justify-content: center;
    text-align: center;
    margin-bottom: 1;
    
    border-radius: 8px;
    min-width: 20em;
    
    height: 16em;
    padding: .5em;
    margin: .5em;
    padding-bottom: 0px;
    padding-top: 0.9rem;
    cursor: pointer;
}

.song-item h4 {
  font-size: 1.3em;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.song-item p {
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.song-item img {
    width: 15em;
    height: 10em;
}

.song-item:hover {
    
        box-shadow: 0px  0px 3px 4px rgba(240, 255, 255, 0.874);
        transition: box-shadow 0.4s ease-in-out;
}