body {
  background-color: rgba(0, 0, 0, 0.808);
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  
}

html {
 
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: clip
}
